<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <base href="/"/>
    <title>@ViewBag.Title</title>

    @RenderSection("Styles", required: false)

</head>

@await FlushAsync()

<body>
    <div>
        @RenderBody()
    </div>
    @RenderSection("HeadScripts", required: false)

</body>
</html>